<a href="https://colab.research.google.com/github/pawel0508/First_repository/blob/master/Ekstrakcja_danych.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import sklearn
sklearn.__version__

'0.22.2.post1'

In [6]:
def load_data(company = 'AMZN'):
  import pandas_datareader.data as web
  return web.DataReader(name = company, data_source = 'stooq')

In [8]:
raw_df = load_data()

In [9]:
df = raw_df.copy()
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1258 entries, 2020-09-03 to 2015-09-08
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    1258 non-null   float64
 1   High    1258 non-null   float64
 2   Low     1258 non-null   float64
 3   Close   1258 non-null   float64
 4   Volume  1258 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 59.0 KB

In [11]:
df.index.month

Int64Index([9, 9, 9, 8, 8, 8, 8, 8, 8, 8,
            ...
            9, 9, 9, 9, 9, 9, 9, 9, 9, 9],
           dtype='int64', name='Date', length=1258)

Wyciągamy takie dane jak dzień, miesiąc, rok

In [12]:
df['day'] = df.index.day
df['month'] = df.index.month
df['year'] = df.index.year

In [13]:
df.head()

               Open       High       Low    Close   Volume  day  month  year
Date
2020-09-03  3485.00  3488.4100  3303.000  3368.00  8161113    3      9  2020
2020-09-02  3547.00  3552.2500  3486.685  3531.45  3931476    2      9  2020
2020-09-01  3489.58  3513.8700  3467.000  3499.12  3476407    1      9  2020
2020-08-31  3408.99  3495.0000  3405.000  3450.96  4185885   31      8  2020
2020-08-28  3423.00  3433.3699  3386.500  3401.80  2896978   28      8  2020

### Dyskretyzacja zmiennej ciągłej
Koelejny przykład. Będziemy budować przedziały.

In [17]:
df = pd.DataFrame(data={'height': [175., 178.5, 185., 191., 184.5, 183., 168.]})
df

   height
0   175.0
1   178.5
2   185.0
3   191.0
4   184.5
5   183.0
6   168.0

In [18]:
df['height_cat'] = pd.cut(x = df.height, bins = 3)

In [19]:
df['height_cat'] = pd.cut(x = df.height, bins = (160, 175, 180, 195), labels = ['small', 'medium', 'height'])

In [20]:
df

   height height_cat
0   175.0      small
1   178.5     medium
2   185.0     height
3   191.0     height
4   184.5     height
5   183.0     height
6   168.0      small

In [21]:
pd.get_dummies(data = df, drop_first = True, prefix = 'height')

   height  height_medium  height_height
0   175.0              0              0
1   178.5              1              0
2   185.0              0              1
3   191.0              0              1
4   184.5              0              1
5   183.0              0              1
6   168.0              0              0

### Ekstrakcja cech

In [22]:
df = pd.DataFrame(data={'lang': [['PL', 'ENG'], ['GER', 'ENG', 'PL', 'FRA'], ['RUS']]})
df

                  lang
0            [PL, ENG]
1  [GER, ENG, PL, FRA]
2                [RUS]

In [28]:
df['lang_number'] = df['lang'].apply(len)

In [29]:
df

                  lang  lang_number
0            [PL, ENG]            2
1  [GER, ENG, PL, FRA]            4
2                [RUS]            1

In [30]:
df['Pl_flag'] = df['lang'].apply(lambda x: 1 if 'PL' in x else 0)

In [31]:
df

                  lang  lang_number  Pl_flag
0            [PL, ENG]            2        1
1  [GER, ENG, PL, FRA]            4        1
2                [RUS]            1        0

In [32]:

df = pd.DataFrame(data={'website': ['wp.pl', 'onet.pl', 'google.com']})
df

      website
0       wp.pl
1     onet.pl
2  google.com

In [38]:
df.website.str.split('.', expand = True)

        0    1
0      wp   pl
1    onet   pl
2  google  com

In [39]:
new = df.website.str.split('.', expand = True)
df['portal'] = new[0]
df['extension'] = new[1]
df

      website  portal extension
0       wp.pl      wp        pl
1     onet.pl    onet        pl
2  google.com  google       com